
@font-face {
    font-family: coffeehouse;
    src: url(FONTS/CoffeeHouse.ttf);
}

body {
    background-color: #aaaaee;
    padding: 20px;
}

h1, h3 {
    color: white;
    text-align: center;
}

h2 {
	color: white;
    background-color: black;
	padding: 10px;
}

.blackboard {
	background-color: #222222;
	padding: 20px;
	border: 10px ridge peru;
	font-family: coffeehouse;
}

.code {
	margin: 20px;
	padding: 10px;
	color: orange;
	background-color: #222222;
	border: 1px solid gray;
	border-radius: 10px;
}
